In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [27]:
site = requests.get('https://www.bestrandoms.com/random-address-in-ir?quantity=30')

In [28]:
soup = BeautifulSoup(site.text, 'html.parser')

In [29]:
x =soup.html.body.find('div',attrs={'class':'content'}).ul.find_all('li')
for i in x: 
    print(i.p.text)

Street:  4tH Fl., No.91, Sanaee St.
Street:  No.29, Mobser Passage, Nazemol-Ateba Alley, Ekbatan St.
Street:  Unit 2, 2nd Fl., Bldg.No.183, Fatemi St., 1414657682
Street:  No 36. Corner of 11th St., Bokharest St., Argentin Sq., 15137
Street:  3rd Fl., No. 23, Lotfi St., 7th Tir Sq., 1589865714, P.O. Box: 15745-146
Street:  Unit 7, No.6, 5th Alley, Sar Afraz St., Beheshti St., 158760 .
Street:  Behind Sasan Beverage Co., Fath St., South Mehr Abad., Sar Asiab., Karaj Ex-Rd., 13864
Street:  No.20, Baqzereshk Alley, Up Chaharbaq St., 81736-76681, Isfahan
Street:  No.11, East Sarv Blvd., Saadat Abaad, Kaj Sq., 1998653731
Street:  No.22, Shahrivar Alley, West Shadab St., Sepahbod Qarani St., 19697
Street:  Unit 2, No.42, Yousefi St., Beheshti St.
Street:  No.10, Tabesh Langroudi St., Behind Saderat Bank, Tehran Pars 2nd Sq., 1655915773
Street:  No. 40, Sahafzadeh Alley, Ali Akbari St., Motahari St., 157644411
Street:  No.8, West 4th St., Ettehad St., Aab Ali Rd.
Street:  Opposite the Customs, Rah Ahan Sq., 5178833133, Azarbaijan
Street:  2nd Fl., No. 22, 17th Behzad Shafaq St., Bokharest St., 151380
Street:  No. 25, Sattari St., Africa Exp. Way, 1968855411
Street:  No.14, Khazayee St., Golshahr Town, Bootan T-Junction., Saeedi Exp.Way, Chahar Dangeh
Street:  Unit 33, 6th Fl., Ferdos Complex, Vali-e-Asr St., After Zafaranie T-Junction.
Street:  Unit 4, 3rd Fl., Bldg.No.180, Corner of Chaman Alley, After Saee Park, Vali-e-Asr St.

In [30]:
x = soup.html.body.find('div',attrs={'class':'content'}).ul.find_all('li')

xx =1 
print(len(x))
for i in x:
    print(xx)
    xx +=1
    print(i.p.text)

20
1
Street:  4tH Fl., No.91, Sanaee St.
2
Street:  No.29, Mobser Passage, Nazemol-Ateba Alley, Ekbatan St.
3
Street:  Unit 2, 2nd Fl., Bldg.No.183, Fatemi St., 1414657682
4
Street:  No 36. Corner of 11th St., Bokharest St., Argentin Sq., 15137
5
Street:  3rd Fl., No. 23, Lotfi St., 7th Tir Sq., 1589865714, P.O. Box: 15745-146
6
Street:  Unit 7, No.6, 5th Alley, Sar Afraz St., Beheshti St., 158760 .
7
Street:  Behind Sasan Beverage Co., Fath St., South Mehr Abad., Sar Asiab., Karaj Ex-Rd., 13864
8
Street:  No.20, Baqzereshk Alley, Up Chaharbaq St., 81736-76681, Isfahan
9
Street:  No.11, East Sarv Blvd., Saadat Abaad, Kaj Sq., 1998653731
10
Street:  No.22, Shahrivar Alley, West Shadab St., Sepahbod Qarani St., 19697
11
Street:  Unit 2, No.42, Yousefi St., Beheshti St.
12
Street:  No.10, Tabesh Langroudi St., Behind Saderat Bank, Tehran Pars 2nd Sq., 1655915773
13
Street:  No. 40, Sahafzadeh Alley, Ali Akbari St., Motahari St., 157644411
14
Street:  No.8, West 4th St., Ettehad St., Aab Ali Rd.
15
Street:  Opposite the Customs, Rah Ahan Sq., 5178833133, Azarbaijan
16
Street:  2nd Fl., No. 22, 17th Behzad Shafaq St., Bokharest St., 151380
17
Street:  No. 25, Sattari St., Africa Exp. Way, 1968855411
18
Street:  No.14, Khazayee St., Golshahr Town, Bootan T-Junction., Saeedi Exp.Way, Chahar Dangeh
19
Street:  Unit 33, 6th Fl., Ferdos Complex, Vali-e-Asr St., After Zafaranie T-Junction.
20
Street:  Unit 4, 3rd Fl., Bldg.No.180, Corner of Chaman Alley, After Saee Park, Vali-e-Asr St.

In [31]:
finallist = []
for i in range(1,140):
    site = requests.get('https://www.bestrandoms.com/random-address-in-ir?quantity=30'+str(i)+'=&quantity=100')
    soup = BeautifulSoup(site.text, 'html.parser')
    for tag in soup.html.body.find('div',attrs={'class':'content'}).ul.find_all('li'):
            if tag.name != None:
                Street = tag.p.text
                finallist.append([Street])

In [47]:
from pandas import DataFrame
df= DataFrame(finallist)
df=df.rename({0:'street'},axis=1)

In [66]:
df1=df.copy()

In [71]:
df1['street'] = df1['street'].str.replace('Street:',' ')
df1

                                                 street
0        Units 6 & 9 & 10, Block 2, Bldg.No.1000, Co...
1        15th Hekmat St., Alborz Industrial Town, P....
2        2nd Fl., No.37, Mousavi Alley, North Palest...
3        No.60/16, Shiraz Vanak Complex, West Garmsa...
4        East1st Fl., No. 125, Mirdamad Blvd., 19116...
...                                                 ...
2775     5th Fl., Bldg.No.165, Bet. Yousefi Cross Rd...
2776     No.18, 17th St., Bokharest St., Argentin Sq...
2777     No.46, Ladan Alley, Mohtasham Kashani St., ...
2778     POBox 13145-1438 Bldg. No.20, Unit 10, Mesb...
2779     Unit 1, No.64, Javad kargar St., North Baha...

[2780 rows x 1 columns]

In [74]:
df1['street'] = df1['street'].str.split(',')
df1

                                                 street
0     [   Units 6 & 9 & 10,  Block 2,  Bldg.No.1000,...
1     [   15th Hekmat St.,  Alborz Industrial Town, ...
2     [   2nd Fl.,  No.37,  Mousavi Alley,  North Pa...
3     [   No.60/16,  Shiraz Vanak Complex,  West Gar...
4     [   East1st Fl.,  No. 125,  Mirdamad Blvd.,  1...
...                                                 ...
2775  [   5th Fl.,  Bldg.No.165,  Bet. Yousefi Cross...
2776  [   No.18,  17th St.,  Bokharest St.,  Argenti...
2777  [   No.46,  Ladan Alley,  Mohtasham Kashani St...
2778  [   POBox 13145-1438 Bldg. No.20,  Unit 10,  M...
2779  [   Unit 1,  No.64,  Javad kargar St.,  North ...

[2780 rows x 1 columns]